*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(5, 18, 90);
    background-image: url("bg.jpeg");
    background-size: cover;
    height: 100vh;
    width: 0%;
    overflow: hidden;
}
.taskbar{
    background-color: rgb(242,243,243);
    width: 100vw;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    height: 3rem;
    z-index: -1;
    
}
.win{
    border: none;
    position: absolute;
    left: 36.5rem;
    
    margin-top: 2px;
    cursor: pointer;
    z-index: 1;
}
win:active{
    background-color: #0f0f0f;
}
.taskbarRight{
    position: absolute;
    justify-content: right;
    right: 4.8rem;
    width: auto;
}
.startItems{
   position: absolute;
   right: 30%;
   bottom: 3.5rem;
}
#dateTime{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #161616ea;
    padding-bottom: 5px;
    position: relative;
    right: -0.4rem;
}
#noti{
    position: absolute;
    left: 90px;
    top: 1px;
}

.moreicons{
	display: flex;
	justify-content: center;
	margin: 30px;
}
.startmenucontainer{
	width: 100vw;
	display: flex;
	justify-content: center;
}
#startmenu{
	transition: all 0.6s ease-in;
	font-size: 13px;
	position: absolute;
	bottom: 60px;
	border-radius: 8px;
	height: 630px;
	width: 630px;
	/*backdrop-filter: blur(100px);*/
	background: #f6f6f6;
	margin: 0px auto;
	z-index: 2;
}
#fileExplore{
	cursor: pointer;
}
.uppertext{
	display: flex;
	justify-content: space-between;
	margin: 10px;
	padding: 30px 40px 0px 40px;
}
.uppertext button{
	background: white;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	padding: 3px 5px;
	font-size: 11px;
	font-weight: 500;
}
#calender{
	cursor: pointer;
}
.search{
	position: absolute;
	bottom: -200px;
	border-radius: 10px;
	height: 100px;
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(10px);
	transition: all 0.5s ease-in;
}
.search input{
	height: 30px;
	width: 200px;
	border-radius: 10px;
}
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 40px;
}
.icons{
	display: flex;
	flex-wrap: wrap;
		padding: 0px 40px;

}
.iconimg{
	height: 30px;
	width: 30px;
	align-self: center;
}

.icon{
	font-weight: 500;
	width: 80px;
	display: flex;
	flex-direction: column;
	font-size: 11px;
	text-align: center;
	padding: 5px;
	margin: 12px 0px;
}