*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(5, 18, 90);
    background-image: url("bg.jpeg");
    background-size: cover;
    height: 100vh;
    width: 0%;
    overflow: hidden;
}
.taskbar{
    background-color: hsl(0, 13%, 96%);
    width: 100vw;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    height: 3rem;
    z-index: -1;
    
}
.win{
    border: none;
    position: absolute;
    left: 36.5rem;
    
    margin-top: 2px;
    cursor: pointer;
    z-index: 1;
}
win:active{
    background-color: #0f0f0f;
}
.taskbarRight{
    position: absolute;
    justify-content: right;
    right: 4.8rem;
    width: auto;
}
.startItems{
   position: absolute;
   right: 30%;
   bottom: 3.5rem;
}
#dateTime{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #161616ea;
    padding-bottom: 5px;
    position: relative;
    right: -0.4rem;
}
#noti{
    position: absolute;
    left: 90px;
    top: 1px;
}